/* Body */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background: #fff;
  margin: 0;
}

.top-line {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.top-line .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* navigation bar */

.navig {
  display: flex;
  align-items: center;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.studio {
  color: #2e2f42;
  width: 71px;
}

.link-main {
  display: flex;
  gap: 40px;
  width: auto;
  height: auto;
}


.link-main-iteams {
  color: #2E2F42;
  display: block;
  position: relative;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 48px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #404bbf;
  margin: 20px 0 0 0;
}

.link-contacts {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:focus,
.link:hover {
  color: #404bbf;
}

/* contacts */
.contacts {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.contacts-link {
  display: flex;
  gap: 40px;
}

.contacts-link .link {
  color: #434455;
}
.link:focus,
.link:hover {
  color: #404bbf;
}

/* section-1 */

.first-block {
  background: #2e2f42;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  color: #fff;
  font-size: 56px;
  font-style: normal;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
  max-width: 496px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* button */

.modal-btn {
  display: block;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  background: #4d5ae5;
  margin-top: 64px;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  background-color: #404bbf;
}

.modal-btn:focus {
  background-color: #404bbf;
}

/* section-2 */
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-icon-advantages {
  display: flex;
  gap: 24px;
}
.list-icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  margin-bottom: 8px;
}
.icon-advantages {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  fill: #2e2f42;
}

.text {
  width: 264px;
}

.list-items {
  display: flex;
  gap: 24px;
}

.text-title {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

.text {
  color: #434455;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/* our team  section 3 */

.team-section {
  background: #f4f4fd;
  max-width: 100%;
  text-align: center;
  padding: 120px 0;
}

.title-team {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  background-color: #f4f4fd;
  display: flex;
  gap: 24px;

  border-radius: 0px 0px 4px 4px;
}

.names-end-profesions {
  padding: 32px 0;
  text-align: center;
}

.soft-skills {
  margin-bottom: 8px;
}

.team-link-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.names-our-team {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.profession-our-team {
  color: #434455;
  text-align: center;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}
.list-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.item-socials {
  width: 40px;
  height: 40px;
}
.link-social {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-social:hover,
.link-social:focus {
  background-color: #404bbf;
}

.item-socials-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  fill: #f4f4fd;
}

/* portfolio section */

.portfolio-section {
  background-color: #ffffff;
  max-width: 100%;
  padding: 120px 0;
}

.title-portfolio {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.list-iteams-portfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-iteams-portfolio:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-portfolio-img {
  position: relative;
  overflow: hidden;
}

.text-section-portfolio-img {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-iteams-portfolio:hover .text-section-portfolio-img {
  transform: translateY(0%);
}

.container-portfolio-items {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-items {
  margin-bottom: 8px;
}

/* footer */
.footer-style {
  flex-shrink: 0;
  background: #2e2f42;
  max-width: 100%;
  padding: 100px 0;
}
.contaniner-footer {
  display: flex;
  align-items: baseline;
}
.container-footer-logo {
  margin-right: 120px;
}
.studio-footer {
  color: #f4f4fd;
}
.text-footer {
  color: #f4f4fd;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  width: 264px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.social-footer {
  display: block;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.list-socials-footer {
  display: flex;
  gap: 16px;
}
.item-socials-footer {
  width: 40px;
  height: 40px;
}
.link-social-footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-social-footer:hover,
.link-social-footer:focus {
  background-color: #31d0aa;
}
.footer-socials-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: #f4f4fd;
}

.form-subscribe{
  display: block;
  flex-direction: column;
}


.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
